.header {
  background: #2f2f2f;
  color: white;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #6aa9ff;
}

.nav {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav p {
  cursor: pointer;
  opacity: 0.8;
}

.shop-btn {
  background: #f59b00;
  border: none;
  padding: 10px 18px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
    width: 145px;
  height: 50px;
}
.cont{
  max-width: 1440px;
  margin: 0 auto;

}


.nav p:hover{
  color: #f59b00;
}

button {
  padding: 12px 26px;
  border: none;
  border-radius: 12px;
  background: #22c55e;
  color: white;

  transition: all 0.3s ease;
}

button:hover {
  box-shadow:
    0 0 10px rgba(34, 197, 94, 0.6),
    0 0 20px rgba(34, 197, 94, 0.4),
    0 0 40px rgba(34, 197, 94, 0.2);
}
